.central {
    background-image: url('images.jpg');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 250px auto;
  }
  
 .inner-container{
    display: flex;
 }


 .response-div{
   background-color: white;
   border-radius: 5px;
 }