.section-container{
    margin: 12px 278px;
    height: 100%;
}

.main-section{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 750px;
    height: 300px;
}

.current-condition{
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
    width: 750px;
    padding: 10px 16px;
    background-color: rgba(0, 0, 0, 0.55);
}

.header-condition{
    display: flex;
    justify-content: space-between;
  
   
}

.header-condition>h1{
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
}

.header-condition>span{
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
}

.mid-condition{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.icon-condition>img{
    width: 150px;
    height: auto;
}

.weather-details>span{
    color: white;
    font-weight: bolder;
    font-size: 5em;
}

.weather-details>p{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.today-details{
    margin-top: 25px;
    height: 328px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lower-section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.today-city-informations{
    text-align: center;
}

.mid-information{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun-info{
    margin-top: 75px
}

.sun-info>span{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 10px;
}

.material-symbols-outlined{
    color: orange;
}

.last-details{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.inner-details{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.inner-details>.material-symbols-outlined{
    color: brown;
    align-self: center;
}

.inner-details>span{
    align-self: center;
    font-weight: bolder;
}

@media (max-width:769px){
    .main-section{
        width: 350px;
        height: 375px;
    }

    .current-condition{
        width: 350px;
    }
}